<style type="text/css">
  .cs_sidebar,.list-group-item{
      background: yellow;
  }
</style>

<div class="cs_sidebar text-small  ">
  <!--   SIDEBAR   -->
  <ul class="list-group">
    <a class="list-group-item {% if '/' == request.path %}active{% endif %}" href="/"> Home </a>

    <a class="list-group-item {% if '/blog/category/' == request.path %}active{% endif %}" href="/blog/category/"> Categories </a>

    <a class="list-group-item {% if '/blog/write/' == request.path %}active{% endif %}" href="/blog/write"> Write new post </a>

    <a class="list-group-item {% if '/about/' == request.path %}active{% endif %}" href="/about/"> About </a>

  </ul>
  <!--   SIDEBAR .//END   -->
</div>
