{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block css_imports %}
{% endblock %}

{% block content %}
<div class="container-fluid  g-0">
    <div class="row g-0">
        <div class="col-12 col-md-2 g-0" style="background: yellow;">
            {% include 'includes/dashboard_sidebar.html' %}
        </div>

        <!--begin home-->
        <div class="col-12 col-md-10 ps-5 pt-5 text-center g-0">
            {% include 'includes/alerts.html' %}            
            <!--intro-->
            <h2>Welcome to the BLOG</h2>
            <p>Posts and posts </p>
            <hr>
            <img src="{% static 'blog_engine/1.jpg' %}" class="img-fluid" />
            <!--about-->
            <div class="text-start pt-5 ps-5 g-0">
                <h4>What would you find here ?</h4>
                <p>This is a simple django web app developed by <b>Mohammed Ba'ashar</b>, see the "about" page for contact info. </p>
            </div>

        </div>
        <!-- end home-->

    </div>
</div>

{% endblock content %}
